.navigation{
    height: 80px;
}
.banner{
    height: calc(100vh-80px);
}
.shopping-items{
    height: 550px;
    width: 370px;
    border: 2px solid rgb(109, 109, 109);
}
.jackets{
    background-color: 
    #F1F1F1;
}